/* .banner {
    position: relative;
    width: 100%;
    height: 100svh;
    background-image: url("../images/bg-header-desktop.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner p {
    color: hsl(210, 10%, 33%);
    opacity: 0.8;
}

 */

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../images/bg-header-desktop.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner p {
    color: hsl(210, 10%, 33%);
    opacity: 0.8;
}

@media screen and (max-width: 390px) {
    .banner {
        background-image: url("../images/bg-header-mobile.png");
    }
}

@media (max-width: 768px) {
    .banner {
        height: auto;
        min-height: 100vh;
    }

    .banner img {
        max-width: 80%;
    }

    .banner h1 {
        font-size: 2rem;
        text-align: center;
    }

    .banner p {
        font-size: 1rem;
        text-align: center;
        width: 95%;
    }

    .banner .flex {
        flex-direction: column;
        align-items: center;
        gap: 5px !important;
    }

    .banner .flex button {
        margin: 0.5rem;
    }
}